body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(120deg, #ffffff, #90e383);
    height: 100vh;
    overflow: hidden;
}

/* Renommer les classes pour éviter les conflits */
.login-center {
    @apply absolute top-1/2 left-1/2 w-96 bg-white rounded-lg shadow-xl transform -translate-x-1/2 -translate-y-1/2;
    transition: transform 0.5s ease-in-out;
    animation: scaleUp 0.5s ease-out;
}

.login-center:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

@keyframes scaleUp {
    from {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.login-img {
    width: 60%;
    height: 40%;
    padding-top: 20px;
    margin-left: 80px;
}

.login-center h1 {
    @apply text-center pb-5 border-b border-gray-300;
}

.login-center form {
    @apply px-10 box-border;
}

.login-txt_field {
    @apply relative my-8;
}

.login-txt_field input {
    @apply w-full p-2.5 h-10 text-base border border-gray-300 bg-none outline-none box-border transition-colors duration-300;
}

.login-txt_field label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    background-color: white;
    padding: 0 5px;
}

.login-txt_field input:focus ~ label,
.login-txt_field input:valid ~ label {
    top: -10px;
    color: #2691d9;
    font-size: 12px;
}

.login-txt_field input:focus,
.login-txt_field input:valid {
    border-color: #2691d9;
}

 .login-pass {
    margin: -5px 0 20px 0;
    color: #2691d9;
    cursor: pointer;
}

 .login-center input[type="submit"] {
    @apply w-full h-12 border text-lg font-bold text-white bg-green-500 cursor-pointer outline-none transition-colors duration-300 mt-4;
    margin-bottom: 20px;  
    border-radius: 10px;
}

.login-center input[type="submit"]:hover {
    border-color: #2691d9;
}
